body {
    margin: 0;
}

h4 {
  font-size: 14px;
  font-weight: bold;
}

#map {
    height: 500px;
    width: 100%;
}

#app-logo {
    position: absolute;
    bottom: .5em;
    left: .5em;
    border: red;
}

#sidebar {
    position: absolute;
    display: block;
    right: 0.5em;
    top: 0.5em;
    width: 300px;
    height: 200px;
    z-index: 1000;
    background: white;
}

#code {
    font-family: monospace;
}

.panel-heading.shareloc-header {
    background-image: url("../img/shareloc-logo-white-mini.png");
    background-repeat: no-repeat;
    background-position: 4% 50%;
}
.shareloc-title {
  font-family: 'Fjalla One';
  font-size: 16px;
}

.popover {
  z-index: 1049;
}

.ol-attribution li {
  font-size: 1.0rem;
}
.ol-attribution.ol-uncollapsible {
  height: auto;
}


@media screen and (max-width: 600px) {
    #sidebar {
        display: none;
        width: 95%;
    }
    .ol-control.ol-zoom {
      display: none;
    }
    .ol-attribution li {
      font-size: 10px;
    }
}

.active-btn {
    background-color: #428bca;
}

#code {
    font-family: monospace;
}

#code .list-group {
    overflow: hidden;
    word-wrap: break-word; /* width: 250px; */
}

#marker-x {
    padding-top: 10px;
}

.close-btn {
    float: right;
    padding: 5px;
}

#info-btn {
    position: absolute;
    right: 0.5em;
    z-index: 1000;
    bottom: 28px;
}

#show-ui {
    position: absolute;
    display: none;
    right: 0.5em;
    top: 0.5em;
    z-index: 1000;
}

@media screen and (max-width: 600px) {
    #show-ui  {
        display: block;
    }
}

#code .list-group {
    overflow: hidden;
    word-wrap: break-word;
}

#marker-x {
    padding-top: 10px;
}

.close-x-btn {
    float: right;
    margin: 5px;
}

.title-badge {
    margin-left: 42px;
}
.beta-badge {
    font-size: smaller;
}
.full-width {
    width: 100%;
}
.popover-content {
     min-width: 150px;
}
.popover.top {
    margin-left: 2px;
    margin-top: -44px;
}
