body {
  margin: 0;
}
#map {
  height: 500px;
  width: 100%;
}
#app-logo {
  position: absolute;
  bottom: .5em;
  left: .5em;
}
.popover-content {
   min-width: 150px;
}
.popover.top {
  margin-left: 0px;
  margin-top: -50px;
}

.ol-attribution li {
  font-size: 1.0rem;
}
.ol-attribution.ol-uncollapsible {
  height: auto;
}

@media screen and (max-width: 600px) {
    .ol-control.ol-zoom {
      display: none;
    }
    .ol-attribution li {
      font-size: 10px;
    }
}
