body {
  margin: 0;
}
#map {
  height: 500px;
  width: 100%;
}
#app-logo {
  position: absolute;
  bottom: .5em;
  left: .5em;
}
.popover-content {
   min-width: 150px;
}
.popover.top {
  margin-left: 0px;
  margin-top: -50px;
}
